<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Borrow book</title>
</head>
<body>
<table>
    <tr>
        <td>ID :</td>
        <td th:text="${book.id}"></td>
    </tr>
    <tr>
        <td>NAME :</td>
        <td th:text="${book.name}"></td>
    </tr>
    <tr>
        <td>AUTHOR :</td>
        <td th:text="${book.author}"></td>
    </tr>
    <tr>
        <td>QUANTITY :</td>
        <td th:text="${book.quantity}"></td>
    </tr>
    <tr>
        <td></td>
        <td><a th:href="@{/library/borrow/{id}(id = ${book.id})}">sdasdasdasd</a></td>
    </tr>
</table>
</body>
</html>