# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\module4\9\baitap_2_ung_dung_muon_sach\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
